@media(min-width:320px) and (max-width: 479px){

    .text {
        padding: 0px 0px;
    }

    .main_heading {
        font-size: 43px;
        line-height: 50px;
        margin-top: 20%;
    }

    .mg333{
        margin: -8% 0%;
    }

    .looking_for {
        font-size: 35px;
        text-align: center;
    }

    #nnmn {
        display: flex;
        justify-content: center;
        
    }

    #start_button {
        width: 65%;
        font-size: 26px;
        margin-top: 6%;
    }

    .mdq{
        text-align: center;
    }

}