@media(min-width:320px) and (max-width: 800px){

    .main_heading{
        line-height: 50px;
        font-size: 39px;
    }

    .text {
        padding: 0px 0px;
    }

    .nx333{
        text-align: center;
    }

    #remik4y{
        margin-bottom: 4%;
    }

    .mnmm{
        margin-bottom: 10%;
    }

    #box_border{
        padding: 0 9%;
        margin-bottom: 4%;
    }

    .mdq{
        text-align: center;
    }

    .looking_for {
        font-size: 35px;
        text-align: center;
    }

    #nnmn {
        display: flex;
        justify-content: center;
        
    }

    .mg333{
        margin: -8% 0%;
    }

    #start_button {
        width: 65%;
        font-size: 26px;
        margin-top: 6%;
    }
}