@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

.body_white {
    background-color: #fff !important;
}

/* Heading */

#margin_main {
    margin-top: 10%;
}

.container-fluid .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 79px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-style: normal;
    font-weight: 70;
    font-size: 25px;
    color: #000000d0;
    font-family: nunito;
    padding: 0% 15%;
}




/* Second-section */

#box_border {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: #ECECEC;
    padding: 0px 33px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    min-height: 49%;
}


img#qiixg {
    padding-top: 4%;
}

/* #box_text{
    width: 100px;
} */


/* #for_pd{
    padding-left: 12px;
} */

/* #rem_wdh{
    padding-right: 20px;
} */




#perks_wt {
    font-weight: 700;
}


.impcard {
    min-height: 370px;
    margin-top: 10%;
}

.cardborder {
    border: 3px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}



#learn_more {
    text-decoration-line: none;
    color: #8804F0;
}

#next000 :hover{
    color: #ECECEC;
    background-color: #000000;
}

#apply_button {
    color: #FFFFFF;
    background-color: #8804F0;
    width: 126px;
    height: 39px;
    border-radius: 8px;
}


.ls2 {
    display: flex;
    display: space-between;
    flex-flow: row wrap;
    justify-content: space-between;
}


#training {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.btn-outline-dark {
    border-width: 3px !important;
}

.btn {
    cursor: pointer;
}

#start_button {
    border: 3px solid #000000;
    width: 59%;
    border-radius: 10px;
    font-size: 41px;
}

#nnmn :hover{
    color: #ECECEC;
    background-color: #000000;
}

#nnmn {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

.btw_margin {
    margin: 4% 0;
}


.looking_for {
    font-size: 50px;
    font-weight: 100;
}


